.musicSection {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.cardContent {
  flex: 1 0 180px;
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: var(--gray40);
  border-radius: 4px;
}
.cardContent:hover {
  background-color: var(--gray30);
  transition: 0.3s background-color;
}

.cardContent img {
  width: 100%;
  border-radius: 12px;
}
.cardInfo h3 {
  color: var(--white);
}
