aside {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  /* border: 1px solid red; */
}

.logo {
  padding-left: 1rem;
  padding-block-start: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 50px;
}
