.musicContent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.themeInfo {
  display: flex;
  border-radius: 0.5rem;
  width: 280px;
  height: 76px;
}

.themeInfo img {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.themeInfo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug {
  /* border: 1px solid red; */
}

.themeInfo-item {
  background-color: var(--gray30);
  width: 100%;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media screen and (min-width: 420px) {
  .musicContent {
    padding: 29px 23px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
