:root {
  --primary: #00b050;
  --white: #ffffff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
  --baseFontFamily: Avenir, Helvetica, Arial, sans-serif;
  --headline1: bold 2rem / normal var(--baseFontFamily);
  --headline2: bold 1.5rem/1.75rem var(--baseFontFamily);
  --baseFont: normal 0.875rem/1.375rem var(--baseFontFamily);
  --baseFontBold: bold 0.875rem/1.375rem var(--baseFontFamily);
  --button: normal 0.875rem/1rem var(--baseFontFamily);
  --small: normal 0.75em / normal var(--baseFontFamily);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--gray50);
  color: var(--gray10);
  font-family: var(--baseFontFamily);
  margin: 0;
}

.containMain {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 200px auto 100px;
}
aside {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  overflow-y: scroll;
  background-color: var(--gray60);
  /* border: 1px solid red; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
