button {
  background-color: transparent;
  color: var(--gray10);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  border-radius: 50%;
}

.is-radius {
  background-color: var(--white);
}

.is-dark {
  background-color: var(--gray60);
  color: var(--gray10);
}

button i {
  position: relative;
  top: 1px;
  left: 1px;
}
